language: php
php:
  - 5.3.3
  - 5.4
  - 5.5
branches:
  only:
    - /^7.x/
env:
  - FEDORA_VERSION="3.5"
  - FEDORA_VERSION="3.6.2"
  - FEDORA_VERSION="3.7.0"
  - FEDORA_VERSION="3.8.1"
before_install:
  - cd $HOME
  - git clone -b 7.x git://github.com/Islandora/islandora.git
  - git clone -b 7.x git://github.com/Islandora/islandora_solution_pack_collection.git
  - export ISLANDORA_DIR=$HOME/islandora
  - $HOME/islandora/tests/scripts/travis_setup.sh
  - cd $HOME/drupal-*
  - ln -s $TRAVIS_BUILD_DIR sites/all/modules/islandora_solution_pack_image
  - ln -s $HOME/islandora_solution_pack_collection sites/all/modules/islandora_solution_pack_collection
  - drush en --user=1 --yes islandora_basic_collection
  - drush en --yes --user=1 islandora_basic_image
script:
  - ant -buildfile sites/all/modules/islandora_solution_pack_image/build.xml lint
  - $ISLANDORA_DIR/tests/scripts/line_endings.sh sites/all/modules/islandora_solution_pack_image
  - drush coder-review --reviews=production,security,style,i18n,potx,sniffer islandora_basic_image
  - phpcpd --names *.module,*.inc,*.test sites/all/modules/islandora_solution_pack_image
  - drush test-run --uri=http://localhost:8081 "Islandora Basic Image"
notifications:
  irc: "irc.freenode.org#islandora"
